
	    <div class="main-panel">
	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-8">
	                        <div class="card">
	                            <div class="card-header" data-background-color="#696969">
	                                <h4 class="title">Editar Perfil</h4>
									<p class="category">Completar perfil</p>
	                            </div>
	                            <div class="card-content">
	                                <form  ng-submit="saveUser(user)">
	                                    <div class="row">
	                                        
	                                        <div class="col-md-3">
												<div class="form-group label-floating">
													<label class="control-label">Nome Usuario</label>
													<input type="text" class="form-control" ng-model="user.name" >
												</div>
	                                        </div>
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Email</label>
													<input type="email" class="form-control" ng-model="user.email">
												</div>
	                                        </div>
	                                    </div>

	                                    <div class="row">
	                                        
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Senha</label>
													<input type="text" class="form-control" ng-model="user.senha">
												</div>
	                                        </div>
	                                        <div>
										      <label>Permissions</label>
										      <div ng-repeat="permission in permissions">
										        <input id="{{permission.role}}" type="checkbox" checklist-model="user.permissions" checklist-value="permission">
										        <label for="{{permission.role}}">{{permission.role | formatPermission}}</label>
										      </div>
										    </div>
	                                    </div>

	                                    <button type="submit" class="btn btn-primary pull-right">Salvar</button>
										<button type="button" ng-click="hide()">Cancelar</button>
	                                    <div class="clearfix"></div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>

	                </div>
	                
					                    <div class="container">
				        <div class="row">
				          <div class="col-lg-8 col-md-12">
				            <div class="card">
				                <div class="card-header" data-background-color="#696969">
				                      <h4 class="title">Usuario</h4>
				                </div>
				                <div class="card-content table-responsive">
				                            <table class="table table-hover">
				                                <thead class="text-blue">
					                                  <th>Nome</th>
					                                  <th>Email</th>
				                                </thead>
				                                <tbody>
											        <tr ng-repeat="user in users">

											          <td>{{ user.name }}</td>
											          <td>{{ user.email }}</td>
											          <td>
											            <div ng-repeat="permission in user.permissions">{{ permission.role | formatPermission}}</div>
											          </td>
											          
											          <td><button ng-click="editUser(user)">Editar</button></td>
											          <td><button ng-click="deleteUser(user)">Deletar</button></td>
											      </tbody>
				                            </table>
				                        </div>
				            </div>
				          </div>
				          </div>
				      </div>
					                
	            </div>
	        </div>
	      </div>
