
	    <div class="main-panel">
	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-8">
	                        <div class="card">
	                            <div class="card-header" data-background-color="#696969">
	                                <h4 class="title">Editar Perfil</h4>
									<p class="category">Completar perfil</p>
	                            </div>
	                            <div class="card-content">
	                                <form  ng-submit="saveUser(user)">
	                                    <div class="row">
	                                        <div class="col-md-5">
												<div class="form-group label-floating">
													<label class="control-label">Companhia </label>
													<input type="text" class="form-control" ng-model="user.id">
												</div>
	                                        </div>
	                                        <div class="col-md-3">
												<div class="form-group label-floating">
													<label class="control-label">Nome Usuario</label>
													<input type="text" class="form-control" ng-model="user.name" >
												</div>
	                                        </div>
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Email</label>
													<input type="email" class="form-control" ng-model="user.email">
												</div>
	                                        </div>
	                                    </div>

	                                    <div class="row">


	                                    </div>

	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Endereço</label>
													<input type="text" class="form-control" ng-model="user.endereco" >
												</div>
	                                        </div>
	                                    </div>

	                                    <div class="row">
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Cidade</label>
													<input type="text" class="form-control" ng-model="user.cidade" >
												</div>
	                                        </div>
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Estado</label>
													<input type="text" class="form-control" ng-model="user.estado" >
												</div>
	                                        </div>
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Senha</label>
													<input type="text" class="form-control" ng-model="user.senha">
												</div>
	                                        </div>
	                                    </div>

	                                    <button type="submit" class="btn btn-primary pull-right">Salvar</button>
										<button type="button" ng-click="hide()">Cancelar</button>
	                                    <div class="clearfix"></div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>

	                </div>
	                
					                    <div class="container">
				        <div class="row">
				          <div class="col-lg-8 col-md-12">
				            <div class="card">
				                <div class="card-header" data-background-color="#696969">
				                      <h4 class="title">Usuarios</h4>
				                </div>
				                <div class="card-content table-responsive">
				                            <table class="table table-hover">
				                                <thead class="text-blue">
					                                  <th>Nome</th>
					                                  <th>Email</th>
					                                  <th>Endereco</th>
					                                  <th>Cidade</th>
					                                  <th>Estado</th>
				                                </thead>
				                                <tbody>
											        <tr ng-repeat="user in users">

											          <td>{{ user.name }}</td>
											          <td>{{ user.email }}</td>
											          <td>{{ user.endereco }}</td>
											          <td>{{ user.cidade }}</td>
											          <td>{{ user.estado }}</td>
											         
											          <td><button ng-click="editUser(user)">Edit</button></td>
											          <td><button ng-click="deleteUser(user)">Delete</button></td>
											      </tbody>
				                            </table>
				                        </div>
				            </div>
				          </div>
				          </div>
				      </div>
					                
	            </div>
	        </div>
	      </div>
