<div>
  <button type="button" ng-hide="showAddEditFzd" ng-click="show()"> New Fazenda</button>
  <form ng-submit="saveFzd(fzd)" ng-hide="!showAddEditFzd">
      <div>
        <label>Name</label>
        <input type="text" placeholder="Name" ng-model="fzd.name" />
      </div>
      <div>
        <label>Codigo</label>
        <input type="text" placeholder="codigo" ng-model="fzd.code" />
      </div>
      <div>
        <label>Endereço</label>
        <input type="text" placeholder="endereço" ng-model="fzd.endereco" />
      </div>
      <button type="submit">Salvar</button>
      <button type="button" ng-click="hide()">Cancelar</button>

  </form>
  <div>
    <br /><h3>Fazendas</h3>
    <table>
      <thead>
        <tr>
          <th> Nome</th>
          <th> Codigo</th>
          <th> Endereço</th>
          <th> </th>
          <th> </th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="fzd in fzds">
          <td>{{ fzd.name }}</td>
          <td>{{ fzd.code }}</td>
          <td>{{ fzd.endereco }}</td>
          <td><button ng-click="editFzd(fzd)">Edit</button></td>
          <td><button ng-click="deleteFzd(fzd)">Delete</button></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
