
<div class="container">
    <div class="jumbotron">
        <div class="content" ng-hide="!showAddEditDsptv">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header" data-background-color="#696969">
                                <h4 class="title">Dispositivos</h4>
                            </div>
                            <div class="card-content">
                                <form ng-submit="saveComodo(comodo)">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Funçao</label>
                                                <input type="text" class="form-control" ng-model="comodo.cidade">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Estado</label>
                                                <input type="text" class="form-control" ng-model="comodo.bairro">
                                            </div>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-success" >Salvar</button>
                                    <button type="button" class="btn btn-danger" ng-click="hide()">Cancelar</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="#696969">
                            <h4 class="title">Dispositivos </h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                <th>Funçao</th>
                                <th>Estado</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Tv</td>
                                    <td>Desativado</td>
                                </tr>
                                <tr>
                                    <td>Som</td>
                                    <td>Ativado</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-hide="showAddEditDsptv" ng-click="show()"> Novo Dispositivo</button>
                </div>
            </div>
        </div>
    </div>
</div>
